# Build directories
bin/
obj/
build/

# Compiled Object files
*.o
*.obj
*.slo
*.lo

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
.directory

# Backup files
*.bak
*.swp
*.swo
*~

# Core dumps
core
core.*

# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.dSYM/
*.su
*.idb
*.pdb

# Fortran module files
*.mod
*.smod

# debug information files
*.dwo
